#console {
  background-color: #333;
  color: #fff;
  padding: 2px 5px;
  font-size: 11px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000; }

/*	Bamboo
=========================== */
.overflow {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.loading {
  background-image: url(../img/loading-spin.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px; }

.loading.subview {
  min-height: 300px; }

#container {
  margin: 0;
  position: relative;
  z-index: 2;
  background-color: #f9f9f9; }

#block {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 600; }

/*	Header
=========================== */
header.primary {
  height: 49px;
  position: relative;
  border-bottom: solid 1px #f8f8f8;
  border-radius: 3px 3px 0 0; }

header.primary .icon {
  z-index: 22;
  position: absolute;
  top: 0;
  left: 0;
  height: 49px;
  width: 49px;
  font-size: 26px;
  line-height: 49px;
  text-align: center;
  color: #333; }

header.primary .side {
  left: auto;
  right: 0; }

header.primary hgroup {
  text-align: center; }

header.primary hgroup h1 {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  color: #333;
  margin: 0;
  line-height: 49px;
  margin: 0;
  font-size: 20px; }

/*	Navigation
=========================== */
.navigation {
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 10px;
  width: 240px;
  position: relative; }

.navigation li {
  position: relative; }

.navigation ul li a,
.navigation ul li a:hover,
.navigation ul li a:visited,
.navigation ul li a:focus {
  text-decoration: none;
  display: block; }

/*	Presentation styles
=========================== */
@media only screen and (min-width: 768px) {
  /*	Bamboo
  =========================== */
  #container {
    left: 265px;
    width: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }

  #scroller {
    background: #f9f9f9;
    clear: both; }

  /*	Header
  =========================== */
  header.primary {
    height: auto;
    background: transparent;
    border: none; }

  header.primary .icon {
    display: none; }

  header.primary hgroup {
    text-align: left;
    padding: 20px 20px 5px 20px; }

  header.primary hgroup h1 {
    position: relative;
    left: 0;
    right: auto;
    font-size: 30px;
    line-height: 34px; }

  /*	Navigation
  =========================== */
  .navigation {
    max-width: 265px; } }
.spinner {
  height: 60px;
  width: 60px;
  margin: 0px auto;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 8px solid rgba(255, 255, 255, 0.15);
  border-right: 8px solid rgba(255, 255, 255, 0.15);
  border-bottom: 8px solid rgba(255, 255, 255, 0.15);
  border-top: 8px solid rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  display: inline-block; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(359deg); } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(359deg); } }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

html, body {
  height: 100%;
  padding: 0;
  overflow: hidden; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: Roboto, sans-serif;
  background-color: #fff; }

h1 {
  line-height: 1em; }

h2 img, h3 img, h4 img, h5 img, h6 img {
  vertical-align: middle; }

h1 a {
  color: #333; }

h1 em {
  font-style: normal;
  font-weight: normal;
  color: #999;
  font-size: smaller; }

a, a:hover {
  text-decoration: none; }

#container {
  box-shadow: -1px 0 20px rgba(0, 0, 0, 0.3); }

#scroller {
  background-color: white;
  width: 100%; }
  #scroller #content {
    overflow-x: hidden;
    height: 100%; }
    #scroller #content .entry {
      height: 100%;
      background: #1b2951 url(../img/blur12.jpg) left top;
      background-size: cover;
      color: #fff; }
      #scroller #content .entry h2 {
        color: rgba(255, 255, 255, 0.6); }

#main-nav h6 {
  margin: 25px 0 10px 15px; }
#main-nav li a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }
#main-nav p {
  margin: 5px 10px; }

.follow strong {
  display: none; }

.follow.active span {
  display: none; }

.follow.active strong {
  display: inline; }

#movie {
  background-color: #fff;
  color: #333;
  min-height: 100%;
  width: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  display: none; }
  #movie .centered img {
    width: 100%; }

.one-movie #content {
  display: none; }
.one-movie #movie {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  display: block; }

.notfound {
  text-align: center;
  margin-top: 100px; }

#about #nav-about,
#apps #nav-apps,
#plus #nav-plus,
#support #nav-support {
  background: #eee;
  opacity: 1; }

footer .fineprint {
  opacity: .6;
  font-size: smaller; }

footer .fineprint a {
  padding-left: 10px;
  border-left: 1px solid #ccc;
  margin-left: 4px; }

.navbar-header {
  background: #F1F1F1;
  filter: none;
  border-bottom: 2px solid #ddd;
  padding: 0 2px !important;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .navbar-header .icon {
    color: #999;
    font-size: 20px;
    vertical-align: middle; }
  .navbar-header #logo {
    white-space: nowrap;
    position: relative; }
    .navbar-header #logo img {
      vertical-align: middle;
      margin: 4px 0; }
  .navbar-header .nav {
    position: relative;
    z-index: 2; }
  .navbar-header form {
    margin: 0;
    white-space: nowrap;
    position: absolute;
    width: 99%; }
    .navbar-header form input {
      width: 96%;
      padding: 10px 2%;
      margin: 3px 0; }
    .navbar-header form .btn {
      position: absolute;
      right: 0;
      padding: 4px 0;
      display: none; }
    .navbar-header form div {
      padding: 0 60px; }

#home .form-search input {
  float: none;
  display: inline; }

.login {
  top: -4px;
  position: relative; }
  .login .icon {
    font-size: 20px;
    vertical-align: middle; }
  .login span {
    padding-left: 5px; }

#userinfo {
  padding: 4px 2px;
  text-align: right;
  line-height: 2;
  cursor: pointer;
  margin: 0; }
  #userinfo p {
    margin: 0 10px;
    overflow: hidden; }
  #userinfo * {
    outline: none !important; }
  #userinfo a {
    text-decoration: none; }
  #userinfo .usr-thumb img {
    border-radius: 100%;
    width: 38px;
    height: 38px; }
  #userinfo #myemail {
    width: 180px;
    overflow: hidden; }
  #userinfo .email {
    margin: 0 8px;
    color: #666;
    vertical-align: middle; }
  #userinfo .email i {
    color: #FBC100; }
  #userinfo .dropdown-menu {
    background: #fff;
    width: 310px;
    min-width: 310px;
    text-align: left;
    padding: 0;
    white-space: normal;
    left: inherit;
    right: 0; }
  #userinfo #me {
    float: left;
    margin: 10px 10px 0px 10px; }
  #userinfo .dropdown-menu p a {
    display: block;
    padding: 0; }
  #userinfo .dropdown-menu h4 {
    margin: 0; }
  #userinfo .dropdown-menu .modal-footer {
    clear: both;
    margin: 0;
    padding: 10px; }
  #userinfo .open a {
    background: none;
    text-decoration: none; }
  #userinfo .dropdown-toggle {
    text-decoration: none; }
  #userinfo .dropdown-toggle .caret, #userinfo #userinfo .open.dropdown .caret {
    border-top-color: #222;
    vertical-align: text-top; }
  #userinfo #profile-link {
    display: block; }

.friend-well {
  border: 0;
  background: transparent;
  box-shadow: none;
  padding: 13px;
  margin: 0; }
  .friend-well h3 {
    margin: 46px 5px 0;
    line-height: 1.5em;
    font-size: 1.3em; }
    .friend-well h3 img {
      border-radius: 100%;
      width: 38px;
      height: 38px; }

.user-actions {
  margin-left: 100px;
  padding: 10px 5px; }

/********************* SIDEBAR *********************/
.nav-list a {
  height: 1.5em;
  overflow: hidden;
  cursor: pointer; }

#socialize, .socialize-header {
  display: none; }

/********************* OBJECTS *********************/
.friend-info {
  line-height: 1.5em;
  font-size: 1.3em;
  margin: 0 1em 0; }

#friend-dropdown {
  display: inline-block;
  margin-left: 1em; }

.thumbnails li {
  text-align: center; }
  .thumbnails li .thumbnail {
    border: 0; }
    .thumbnails li .thumbnail img {
      height: 260px; }
  .thumbnails li h5 {
    width: 180px;
    height: 30px;
    line-height: 1.1;
    font-weight: normal;
    padding: 3px 0 2px;
    overflow: hidden; }
.thumbnails.normal img {
  height: auto; }

#toggles {
  margin: 0;
  text-align: center; }
  #toggles .btn {
    margin: 4px 2px; }

#browse {
  margin: .5em auto;
  width: 700px; }

#browse li {
  margin: .5em;
  display: inline; }

#browse img {
  height: 130px;
  max-width: 93px; }

#browse h5 {
  width: 100px;
  overflow: visible; }

#home {
  padding: 0; }

#home h1 {
  margin: 2em 0 0; }

h2 {
  font-size: 1.5em;
  font-weight: normal;
  font-family: baskerville, palatino, 'palatino linotype', georgia,serif;
  color: #777;
  line-height: 1.2em; }

#home .form-search {
  margin: 2em 0 3em; }

#home .span4 {
  overflow: hidden; }

#home #userinfo {
  overflow: visible; }

#plus-box {
  border: 1px solid #999;
  border-radius: 8px;
  background: #fff; }
  #plus-box h3 i {
    vertical-align: middle;
    margin-top: -4px; }
  #plus-box form {
    margin: 0; }

#plus-box .modal-footer a, #free-box .modal-footer a {
  margin: 0;
  display: block;
  float: none; }

#free-box {
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-right: 2%; }

#thankyou {
  background: none; }

.alert iframe {
  vertical-align: middle; }

#plus .expired .btn {
  display: none; }

#cover {
  display: none;
  position: absolute;
  top: 22px;
  width: 220px;
  padding: 5px 0; }
  #cover .icon {
    font-size: 21px;
    cursor: pointer; }

#sidebar {
  -webkit-transition: left 200ms ease-out;
  transition: left 200ms ease-out; }

.dock #cover {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .dock #cover .icon {
    color: #fff;
    display: block;
    margin: 22px 263px; }
.dock #sidebar {
  border-right: 1px solid #ddd;
  width: 250px;
  background: #fff;
  z-index: 2;
  padding: 1em;
  position: absolute;
  top: 0;
  overflow: auto;
  height: 100%;
  display: block;
  font-size: larger;
  left: 0; }
.dock #content {
  position: fixed; }
.dock footer {
  display: none; }

#people li {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  line-height: 5em;
  white-space: nowrap;
  text-overflow: ellipsis; }
  #people li img {
    margin: 5px 10px 5px 0; }
  #people li a {
    margin: 20px 0; }

.alert {
  margin: 6px 13px; }

/********************* CLASSES *********************/
.label {
  white-space: nowrap; }

a:hover .label {
  background-color: #333; }

.dull {
  opacity: .4; }

.centered {
  text-align: center; }

.poster {
  background: #aaaaaa; }

.stars {
  color: #ddd;
  font-size: 18px;
  letter-spacing: -2px;
  vertical-align: top; }

.stars span {
  color: #FBC100; }

.tagline {
  font-style: italic;
  font-family: serif; }

.modal-body {
  clear: both; }

.modal-footer img {
  vertical-align: middle; }

.text {
  padding: 20px; }

.hero-unit {
  margin: 0;
  background-color: transparent;
  padding: 0px; }

.hero-unit i, h3 i {
  vertical-align: baseline !important; }

.loader {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  line-height: 500px;
  line-height: 100vh;
  text-align: center;
  font-size: 40px;
  color: #fff; }

.loading {
  cursor: wait;
  overflow: hidden; }
  .loading .loader {
    display: block; }

.banner {
  padding-bottom: 10px;
  width: 468px;
  text-align: right;
  line-height: 0.9; }

.w728 {
  width: 728px; }

.dash {
  float: right;
  height: 290px;
  width: 120px;
  text-align: left;
  margin: .5em; }

.remove-ad:link {
  font-size: x-small;
  color: #999999; }

.modal {
  min-height: 100px; }
  .modal .close {
    padding: 15px; }

#modal2 .close {
  position: absolute;
  z-index: 2;
  right: 2px; }

.pt .lang-en, .en .lang-pt {
  display: none; }

#modal2 .btn-primary,
#promo-cupom {
  display: none; }

/********************* PRINT *********************/
@media print {
  .dropdown, .sidebar-nav {
    display: none; } }
/* Large desktop */
@media (min-width: 768px) {
  .navbar-fixed-top form input {
    width: 60%; } }
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  body {
    padding: 0; }

  .banner, .link-unit {
    display: none; }

  #home .email {
    display: inline; }

  #browse {
    width: auto;
    margin: 0; }

  #free-box {
    margin: 0 0 1em; }

  #movies li {
    float: left;
    margin-left: 12px; }

  #social {
    margin: 0 0 0 10px; }

  #cover {
    display: block; }

  #sidebar {
    display: none;
    left: -300px; }

  #movie-info {
    padding: 10px; }

  #userinfo .email span {
    display: none; }
  #userinfo .email i {
    position: absolute;
    top: -3px;
    right: 42px; } }
/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    padding: 0; }

  #browse {
    width: auto;
    margin: 0; }
    #browse li {
      margin: 0; }
    #browse a {
      display: inline-block; }
    #browse h5 {
      display: none; }

  #home h1 {
    margin: 0; }

  #home .span4 {
    display: none; }

  #home #userinfo {
    display: block;
    text-align: center; }

  #movies li {
    height: 270px;
    width: 50%;
    margin: 0;
    overflow: hidden;
    position: relative; }

  #movies li a {
    padding: 0;
    border: 0; }

  #movies li img {
    height: auto;
    position: absolute;
    width: 100%;
    border: 1px solid #fff;
    height: 270px; }

  #movies li h5 {
    padding: 2%;
    width: 96%;
    position: absolute;
    bottom: 0;
    margin: 0;
    display: none;
    color: white; }

  .navbar .brand {
    text-align: center;
    float: none;
    padding-bottom: 0; }

  .navbar .navbar-inner {
    padding: 0 10px; } }
