<?xml version="1.0" encoding="utf-8" ?>
  <widget 
    xmlns     = "http://www.w3.org/ns/widgets" 
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.oktala.cinemalista" 
    version   = "0.1" 
    >

    <name>Cinemalista</name>
    <description>Sua coleção de filmes online</description>
    <author email="joao@joaomak.net" href="http://www.cinemalista.com.br">Oktala</author>

    <preference name="phonegap-version" value="3.3.0" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
    <preference name="backgroundColor" value="0xffffff" />

     <gap:platform name="android" />

     <gap:url-scheme role="None">
      <scheme>http</scheme>
      <scheme>cinemalista</scheme>
      <host>*.cinemalista.com.br</host>
    </gap:url-scheme>

    <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" />
    <gap:plugin name="org.li8.inappbrowser" version="0.1" />


    <!--<gap:plugin name="com.mcm.plugins.androidinappbilling" version="3.0.1" />-->

    <icon src="res/drawable-xhdpi/ic_launcher.png" />
    <icon src="res/drawable-ldpi/ic_launcher.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/drawable-mdpi/ic_launcher.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/drawable-hdpi/ic_launcher.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/drawable-xhdpi/ic_launcher.png"  gap:platform="android"    gap:qualifier="xhdpi" />

    <access origin="*" />
    <!--<access origin="http://www.cinemalista.com.br/*" subdomains="true" />
    <preference name="webviewbounce" value="true" />
    <content src="index.html" />
    -->
</widget>
